@{
    ViewData["Title"] = "Reports";
}

<div class="mt-4">
    <h3>📊 Reports Section</h3>

    <div class="alert alert-info mt-3">
        This section is restricted based on your role permissions.
    </div>

    <p>Coming soon...</p>

   
</div>
