@{
    ViewData["Title"] = "Access Denied";
}
<div class="alert alert-danger mt-4">
    <h4>🚫 Access Denied</h4>
    <p>You do not have permission to view this page.</p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Go Home</a>
</div>
